<!--Doctype html-->
<html>

<body>
<h1>Details will come here</h1>

<form method= 'GET' action=''>
<input type="text" name="q" placeholder="Search posts"/>
<input type="submit" name="" value= 'Search'/>
</form>

{% for obj in object_list%}
{{ obj.Name}}<br/>
{% if obj.Image %}
    <img src= '{{ obj.Image.url }}'/><br/>
{% endif %}
{{ obj.Contact}}<br/>
{{ obj.Email}}<br/>
{{ obj.Lost_Found_Product}}<br/>
{{ obj.Small_Description}}<br/>
{{ obj.Location}}<br/>
{{ obj.Date_and_Time}}<br/>

</br>
{% endfor %}
</body>

</html>