body {
  background-color: #f5f5f5 !important;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.header-wrapper {
  background-color: white;
  padding: 0 24px;
  z-index: 111;
  box-shadow: 0 8px 6px -6px darkslategrey;
  
}
.layer-1, .layer-2 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  align-items: center;

}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
}

.sticky+.quotes {
  padding-top: 50px;
}

.logo {
  align-self: center;
}

.menu {
  align-self: center;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}


.menu ul li a {
  color: #333;
  padding: 16px;
  line-height: 5px;
  text-transform: uppercase;
  margin: 0 10px;
  transition: background-color 0.3s ease-out;
  font-size: 16px;
}

.menu ul li a:hover {
  color: #8B0000;
 border-bottom: 2px solid	#8B0000;
}

.hide-menu {
  display: none;
}
.search-icon{
  width: 24px;
}
.burger {
  width: 24px;
}
.cta {
  align-self: center;
}

.navbar-form {
  display: flex;
  align-self: center;
  display: none;
}

.form-wrapper {
  display: none;
}

.show-form {
  height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 30px;
    display: block;
}


.form-control {
  border: none;
  width: 200px;
  height: 35px;
  font-size: 14px;
  border-radius: 12px;
  outline: none;
  margin: 10px 0;
}
.buttons-wrapper {
  display: flex;
}
.close-btn {
  display: none;
}

.btn {
  width: 95px;
  height: 50px;
  border-radius: 4px;
  margin: 5px 10px;
  border-color: #8B0000;
}
.new-account {
  justify-self: flex-end;
}

.show-close-button {
  display: block;
}

.btn-success {
  display: block;
}

.remove-sign-up {
  display: none;
}

.form-group {
  margin-right: 20px;
  outline: none;
}


/* sidebar style */
.sidebar-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* sidebar end */

.sr-only {
  color: white;
  margin-right: 5px;
}

.quotes {
  margin: 50px auto;
  max-width: 950px;
  font-size: 32px;
  color: #26C6CD;
}

.some {
  margin-top: 335px;
  margin-left: -40px;
}

.row-fluid {
  margin-bottom: 400px;
}

.venn-container {
  padding: 0% 0% 0% 45%;
}

.venncircle {
  padding: 18px;
  width: 180px;
  height: 180px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: color 0.5s linear, background-color 0.5s linear;
  -moz-transition: color 0.5s linear, background-color 0.5s linear;
  -o-transition: color 0.5s linear, background-color 0.5s linear;
  transition: color 0.5s linear, background-color 0.5s linear;
}

.venncircle>span {
  font-size: 19px;
  font-weight: bold;
  letter-spacing: .004em;
  color: #FFFFFF;
  text-decoration: none;
}

.venncirclft {
  padding: 50px;
  width: 200px;
  height: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: color 0.5s linear, background-color 0.5s linear;
  -moz-transition: color 0.5s linear, background-color 0.5s linear;
  -o-transition: color 0.5s linear, background-color 0.5s linear;
  transition: color 0.5s linear, background-color 0.5s linear;
  margin-left: -180px;
  background-color: #093d5c;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(3, 29, 216, 0.69);
  z-index: 2;
}

.venncirclft>span {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: .004em;
  color: #FFFFFF;
  font-family: "Bad Script", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.venncirclft:hover {
  z-index: 5;
  background-color: #37688C;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(55, 104, 140, 0.9);
}

.venncircrt {
  padding: 50px;
  width: 200px;
  height: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 50%;
  position: absolute;
  -webkit-transition: color 0.5s linear, background-color 0.5s linear;
  -moz-transition: color 0.5s linear, background-color 0.5s linear;
  -o-transition: color 0.5s linear, background-color 0.5s linear;
  transition: color 0.5s linear, background-color 0.5s linear;
  margin-left: 20px;
  background-color: #c75a1a;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(255, 141, 0, 0.88);
  z-index: 3;
  text-align: right;
}

.venncircrt>span {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: .004em;
  color: #FFFFFF;
  font-family: "Bad Script", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.venncircrt:hover {
  z-index: 5;
  background-color: #625F75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background-color: rgba(98, 95, 117, 0.9);
}

.venntxtrt {
  margin: -20px 0 0 60px;
  display: inline-block;
  position: relative;
  top: 74px;
  z-index: 5;
}

.venntxtrt:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.venntxtlft {
  width: 40%;
  display: inline-block;
  position: relative;
  top: 50px;
  margin-left: 10px;
  z-index: 5;
}

.venntxtlft:hover {
  color: #FFFFFF;
  text-decoration: none;
}




/* carousel start*/

ul.slides {
  display: block;
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none;
}


.slide-container {
  display: block;
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}

.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}

.slide-image:hover+.carousel-controls label {
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked+.slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .carousel-controls label {
  display: block;
}

input#img-1:checked~.carousel-dots label#img-dot-1,
input#img-2:checked~.carousel-dots label#img-dot-2,
input#img-3:checked~.carousel-dots label#img-dot-3,
input#img-4:checked~.carousel-dots label#img-dot-4,
input#img-5:checked~.carousel-dots label#img-dot-5,
input#img-6:checked~.carousel-dots label#img-dot-6 {
  opacity: 1;
}


input:checked+.slide-container .nav label {
  display: block;
}



/*carousel end*/

.navbar-brand {
  position: relative;
  z-index: 2;
}

.navbar-nav.navbar-right .btn {
  position: relative;
  z-index: 2;
  padding: 4px 20px;
  margin: 10px auto;
}

.navbar .navbar-collapse {
  position: relative;
}

.navbar .navbar-collapse .navbar-right>li:last-child {
  padding-left: 22px;
}

.navbar .nav-collapse {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding-right: 120px;
  padding-left: 80px;
  width: 100%;
}

.navbar.navbar-default .nav-collapse {
  background-color: #f8f8f8;
}

.navbar.navbar-inverse .nav-collapse {
  background-color: #222;
}

.navbar .nav-collapse .navbar-form {
  border-width: 0;
  box-shadow: none;
}

.nav-collapse>li {
  float: right;
}

.btn.btn-circle {
  border-radius: 50px;
}

.btn.btn-outline {
  background-color: transparent;
}

.brand {
  font-family: "Bad Script", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 25px !important;
  color: #239423 !important;
}

@media screen and (max-width: 767px) {
  .navbar .navbar-collapse .navbar-right>li:last-child {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar .nav-collapse {
    margin: 7.5px auto;
    padding: 0;
  }

  .navbar .nav-collapse .navbar-form {
    margin: 0;
  }

  .nav-collapse>li {
    float: none;
  }
}